.App {
  text-align: center;
}

a {
  color: #ea8823;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: rgb(83,120,154);
  background: -moz-radial-gradient(circle, rgba(83,120,154,1) 0%, rgba(0,115,165) 100%);
  background: -webkit-radial-gradient(circle, rgba(83,120,154,1) 0%, rgba(0,115,165) 100%);
  background: radial-gradient(circle, rgba(83,120,154,1) 0%, rgba(0,115,165) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53789a",endColorstr="#131a21",GradientType=1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.calcular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  border-radius: 0;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 800;
  border: 0;
  background: #111;
  color: #f2f2f2 !important;
  border-radius: 20px;
  padding: 20px !important;
}

.form-control:focus {
  color: #333 !important;
}

.cambioSeccion {
  font-size: 1em;
  border-radius: 50px;
  padding: 5px 50px;
  margin-bottom: 10px;
}

.custom-control-label::before {
  top: .25rem;
  left: -2.5rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #ccc;
}

.custom-control-label::after {
  top: -0.17em;
  left: -3rem;
  width: 3rem;
  height: 3rem;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #ea8823;
  border: none;
}